__pycache__/*
*__pycache__*
data/*
*input*
*output*
*/val3dity.log
val3dity.log
*.py~
analysis/*
processing/metrics/val3dity/*

# keep the folders that have a .gitkeep file, but ignore their contents
!*/.gitkeep