numpy==1.24.0
pyvista===0.36.1
scipy==1.13.0
cython==3.0.10
pandas==2.2.2
geopandas==0.14.3
tqdm==4.66.2
shapely===1.8.5
mapbox-earcut==1.0.1
python-polylabel==0.6
miniball==1.2.0
rtree==1.2.0
scikit-learn===1.3.2
cjio==0.9.0
aiohttp==3.9.5
requests==2.31.0
geojson==3.1.0
python-dotenv==1.0.0